@{
    ViewBag.Title = "Instant Database Changes Using SignalR Demo";
}

<div class="row">
    <div class="col-md-12">
        <div id="divLine"></div>
        <div id="divFooter"></div>
    </div>
</div>

@Html.Partial("~/Views/Shared/_Details.cshtml")

@section Scripts{
    <script src="@Url.Content("~/Scripts/jquery.signalR-2.2.2.js")"></script>
    <script src="@Url.Content("~/signalr/hubs")"></script>
    <script src="@Url.Content("~/Scripts/main.js")"></script>
}