<div id="divDefectDetails">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th class="success">Plant</th>
                <td class="plant"></td>
                <th class="success">Line</th>
                <td class="line"></td>
                <th class="success">Slot</th>
                <td id="slot"></td>
                <th class="success">Status</th>
                <td id="status"></td>
            </tr>
        </tbody>
    </table>
    <table id="tblDefectDetails" class="table table-bordered">
        <thead>
        </thead>
        <tbody></tbody>
    </table>
</div>
