<div id="divDefectDetails">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th class="table-success">Plant</th>
                <td class="plant"></td>
                <th class="table-success">Line</th>
                <td class="line"></td>
                <th class="table-success">Hour</th>
                <td id="slot"></td>
                <th class="table-success">Status</th>
                <td id="status"></td>
            </tr>
        </tbody>
    </table>
    <h4 id="ddInfo"><i class="fas fa-cog fa-spin" aria-hidden="true"></i> Collecting defect details...</h4>
    <table id="tblDefectDetails" class="table table-striped table-bordered" style="width:100%">
        <thead class="table-success"></thead>
        <tbody></tbody>
    </table>
</div>
