
*.nupkg
*.so
*.dll
*.pdb
*.xml
*.dll
*.cache

*.pdb
*.sln
*.suo
*.cache
*.txt
SignalRInstantDbChangesDemo/packages/Moment.js.2.20.1/Content/Scripts/moment-with-locales.js
SignalRInstantDbChangesDemo/packages/Moment.js.2.20.1/Content/Scripts/moment.js
SignalRInstantDbChangesDemo/packages/Moment.js.2.20.1/Content/Scripts/moment-with-locales.min.js
SignalRInstantDbChangesDemo/packages/Moment.js.2.20.1/Content/Scripts/moment-with-locales.min.js
SignalRInstantDbChangesDemo/packages/Moment.js.2.20.1/Content/Scripts/moment.min.js
*.dll
*.cache
*.dll
*.pdb
