.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.main-table {
    width: 100%; 
    user-select: none;  
}

table thead tr th {
    border: 1px solid lightgrey;
}

.main-table tbody tr td{
    line-height: 0.97;
    border: 1px solid lightgrey;
    width: 30px;
    padding:0;
}

table thead tr th,
.main-table tbody tr td:nth-child(-n+2){
    background: #f5f5f5;
    text-align:center;
    font-weight: bold;
}

.main-table tbody tr td:nth-child(-n+2) {
    cursor: pointer;
}

.main-table tbody tr td:nth-child(n+3){
    text-align: center;
}

.main-table tbody tr.underline {
    border-bottom:5px solid darkblue;
}

.main-table tbody tr td.rightline {
    border-right:5px solid aqua;
}

.main-table tbody tr.upperline {
    border-top:5px solid darkblue;
}

.footer {
    width: 100%;
    background: #f5f5f5; 
    border: 1px solid #fff;
}

.footer div:not(.right) {
    border: 1px solid #fff;
    display: inline;
    padding-right:120px;
}

.footer .right {
    float: right;
}

.green {
    background: green;
    color: #fff;
}

.red {
    background: red;
    color: #fff;
    cursor: pointer;
}

.yellow {
    background: yellow;
    color: #000;
    cursor: pointer;
}

.lightblue {
    background: lightblue;
    color: #000;
    cursor: pointer;
}

.blueviolet {
    background: blueviolet;
    color: #fff;
    cursor: pointer;
}

.black {
    background: #000;
    color: #fff;
    cursor: pointer;
}

.dormant {
    background: #000;
    color: #000;
}

.darkblue {
    background: blue;
    color: #fff;
}

.hotpink{
    background: hotpink;
    color: #fff;
    cursor: pointer;
}

.darkorange{
    background: darkorange;
    color: #fff;
    cursor: pointer;
}

.display-none{
    display: none;
}
